<div class="imageL">
    {{#data}}
        <div>
            <a href="/project/{{directory}}/description"><img
                    width="200"
                    height="200"
                    src="/{{directory}}/screenshot.jpg"
                    alt="{{name}}"
                /></a>
            <br />
            <a href="/project/{{directory}}/description">{{name}}</a>
        </div>
    {{/data}}
</div>